a{
    color: #56BAED;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.fvimg {
    width: 40%;
}

p {
    color:var(--ion-color-danger);
    font:7px;
    font-weight:bold;
}

#facebookLogin {
    font-weight:bold;
    --background:#3B5998;
    --color: #fff;
}