<ion-header>
  <ion-toolbar>
    <ion-title>Fruits Vending System Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
          <div class="imgcontainer">
            <img src="../../../assets/logo.png" alt="fruits vending" class="fvimg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
          <ion-item>
            <ion-label position="floating">your@email.com</ion-label>
            <ion-input name="email" type="email" ngModel required email #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
            <p>UserName should be a valid email</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input name="password" type="password" ngModel required minlength="6" #passwordCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
            <p>Password should contain at least 6 characters.</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
          <ion-item lines="none" text-right>
            <ion-label><a routerLink='/forget-password'>Forgot Password?</a></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
          <ion-button type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          <ion-button id="facebookLogin" expand="block" (click)="loginWithFacebook()">Login me in with Facebook</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
          If you don't have an account, please <a routerLink='/register'>Sign up</a> first!
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '509258982951178',
      xfbml      : true,
      version    : 'v4.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>