<ion-header>
  <ion-toolbar>
    <ion-title>Fruits Vending System Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
          <div class="imgcontainer">
            <img src="../../../assets/logo.png" alt="fruits vending" class="fvimg" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size="12">
            <ion-item>
              <ion-label position="floating">your@email.com</ion-label>
              <ion-input name="email" type="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
              <ion-input name="password" type="password" ngModel required></ion-input>
            </ion-item>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-md="6" offset-md="3" size="12">
          If you don't have an account, please <a routerLink='/register'>Sign up</a> first!
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>