<ion-header>
  <ion-toolbar>
    <ion-title>Forget Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="sendOtpPassword(form)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
              <p>Enter your email address and we will send you a token to reset your password.</p>
            <ion-label position="floating">your@email.com</ion-label>
            <ion-input  name="email" type="email" ngModel required email #emailCtrl="ngModel" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
            <p>Should be a valid email</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-button type="submit" [disabled]="form.invalid" expand="block" >Submit</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>

  </form>

</ion-content>
