<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>products transaction-history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let his of history">
      <ion-card>
        <ion-card-header>
          {{his.product}}
        </ion-card-header>
        <ion-card-content>
          <ion-item>Amount: ${{his.amount}}</ion-item>
          <ion-item>Date: {{his.date}}</ion-item>
          <ion-item>Quantity: {{his.quantity}}</ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>