<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="resetPassword(form)">
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-label position="floating">Token</ion-label>
            <ion-input name="token" type="text" ngModel required minlength="6" #tokenCtrl1="ngModel">
            </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="text" ngModel required minlength="6" [(ngModel)]="email" #emailCtrl1="ngModel">
              </ion-input>
            </ion-item>
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input name="password" type="password" ngModel required minlength="6" #passwordCtrl1="ngModel">
            </ion-input>
          </ion-item>
          <ion-item *ngIf="!passwordCtrl1.valid && passwordCtrl1.touched" lines="none">
            <p>Password should contain at least 6 characters.</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input name="rpassword" type="password" ngModel required minlength="6" #passwordCtrl2="ngModel">
            </ion-input>
          </ion-item>
          <ion-item *ngIf="!passwordCtrl2.valid && passwordCtrl2.touched" lines="none">
            <p>Password should contain at least 6 characters.</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>