<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome {{user.name}} 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <div class="imgcontainer">
          <img src="../assets/logo.png" alt="fruits vending" class="fvimg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row color="secondary" justify-content-center>
      Balance {{user.balance}}
      </ion-row>
  </ion-grid>
</ion-content>